// @mixin max-screen($res) {
//   @media screen and (max-width: $res) {
//     @content;
//   }
// }

@media (min-width: 992px) {
  .navbar-nav {
    display: none;
  }

}

@media (max-width: 992px) {
  p {
    margin-right: auto;
  }

  .desctop-nav {
    display: none;
  }
}

header {

  z-index: 9999;

  .container {
    p {
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      color: #FFFFFF;
    }

    .desctop-nav {
      margin-left: auto;

      ul {
        display: flex;
        list-style: none;
        gap: 25px;
        align-items: center;

        li {

          & :first-of-type {

            font-family: '20 Kopeek';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #FFFFFF;
          }

        }
      }
    }
  }
}

.main-banner {

  height: 100vh;

  .item {
    background-image: url(../images/main-bannerjpg.jpg);
    background-size: cover;
    height: 100vh;
    &.item_2 {
        background-image: url(../images/banner-2-blue.jpg);
        background-size: cover;
        height: 100vh;
      }
    
      &.item_3 {
        background-image: url(../images/banner-three-white.jpg);
        background-size: cover;
        height: 100vh;
      }
    
      &.item_4 {
        background-image: url(../images/banner-4-beige.jpg);
        background-size: cover;
        height: 100vh;
      }
  }

 

}

// .main-banner {
//   .wrapper-for-buttons {
//     a {
//       background: #FFFFFF;
//       border-radius: 40px;
//       padding: 23px 47px;
//     }
//   }

//   article {
//     margin-top: 280px;

//     p {
//       margin-bottom: 65px;
//     }
//   }
// }